# A filename (or path) for a file that maintains information about
# when this indexer operation was last successfully run.  Delete
# this file to trigger a full reindex.
last-run-file:production-last-run.txt

# The path where solr add documents should be maintained.
add-doc-repository:results/index

# Information about the fedora repository that backs the avalon application.
fedoraBase:http://fedora01.lib.virginia.edu:8080/fcrepo/rest/avalon/
username:<Fedora user>
password:<Fedora password>

# The base URL for the solr core that backs avalon.
hydra-solr-url:http://avalon.lib.virginia.edu:8983/solr/avalon

# The base URL for the avalon server.  Will be used in the generated index
# records as the root for the thumbnail urls.
avalon-url:https://avalon.lib.virginia.edu

# A comma-separated list of pids indicating collections that should be shadowed.
# if you remove or add something to this list and items have already
# been indexed, you should delete the last-run-file to force a reindex of everything
collection-blacklist:avalon:1,avalon:1930,avalon:2911,avalon:3053,avalon:18303,avalon:18250,avalon:21171,avalon:22280,avalon:23140,7m01bk901
